<include file="Public:header" />
        <div class="tpl-content-wrapper"> 
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-phone-square"></span>&nbsp;&nbsp;通讯录
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                 </div>
                        </div>
                    </div>


                </div>
                <div class="tpl-block">
                    <div class="am-g" style="margin-bottom: 10px;">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a href="__CONTROLLER__/add.html" type="button" class="am-btn am-btn-default am-btn-primary"><span class="am-icon-plus"></span> 新增</a>
                                </div>
                                 <div class="am-btn-group am-btn-group-xs">
                                    <a href="__CONTROLLER__/getData" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-download"></span> 导出通讯录</a>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <div class="am-g">
                        <div class="tpl-table-images am-scrollable-horizontal">
                            <table class="am-table am-table-striped am-table-hover table-main ">
                                    <thead>
                                        <tr>
                                            <th class="table-title" style="width:5%">序号</th>
                                            <th class="table-title" style="width: 20%">头像</th>
                                            <th class="table-title" style="width: 10%">用户</th>
                                            <th class="table-title" style="width: 13%">email</th>
                                            <th class="table-date am-hide-sm-only" style="width: 13%">手机号</th>
                                            <th class="table-date am-hide-sm-only" style="width:6%">性别</th>
                                            <th class="table-date am-hide-sm-only">部门</th>
                                            <th class="table-date am-hide-sm-only">创建时间</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="home" id="v">
                                        <tr>
                                            <td>{$i}</td> 
                                            <td class="am-hide-sm-only"><img style="width: 150px" src="__PUBLIC__{$v.touxiang}" alt=""></td>
                                            <td>{$v.username}</td> 
                                            <td class="am-hide-sm-only">{$v.email}</td>
                                            <td class="am-hide-sm-only">{$v.tel}</td>
                                            <td class="am-hide-sm-only">{$v.sex}</td>
                                            <td class="am-hide-sm-only">{$v.title}</td>
                                            <td class="am-hide-sm-only">{$v.ctime}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <a href="__CONTROLLER__/add/id/{$v.id}" id="tx-op" style="width: 63px; height: 28px; margin-bottom: 10px;" class="am-btn am-btn-primary am-btn-xs "><span class="am-icon-pencil-square-o"></span> 编辑</a>
                           
                                                        <button onclick="del({$v.id})" id="tx-op" class="am-btn am-btn-danger am-text-danger am-btn-xs  am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </volist>
                                </tbody>
                            </table>
                            <div class="am-u-lg-12">
                                <div class="am-cf">
                                    <div class="am-fr">
                                        <!--{$page}-->
                                        <span >{$page}</span>
                                    </div>
                                </div>
                                <!--<hr>-->
                            </div>

                        </div>

                    </div>
                </div>
                <hr />
                <p class="am-text-center">企业通讯录管理系统</p>
                <!--<div class="tpl-alert">
                	
                </div>-->
            </div>

        </div>

    </div>


    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/Admin/js/iscroll.js"></script>
    <script src="__PUBLIC__/Admin/js/app.js"></script>
</body>
</html>
<script>
    function del(id){
        var type = 'indexbanner';
        if(confirm("您确定要删除吗?")){
            $.post("__CONTROLLER__/del",{id:id,type:type},function(msg){
            if(msg==1){
              window.location.href="";
            }else{
                alert('非超级管理员不可以删除管理员！')
            }
          })
        }
    }
</script>